[submodule "projects/gitflow"]
	path = projects/gitflow
	url = https://github.com/regexpressyourself/gitflow.git
[submodule "projects/Q-Programming-Language"]
	path = projects/Q-Programming-Language
	url = https://github.com/regexpressyourself/Q-Programming-Language.git
[submodule "projects/Nabbar-Nav"]
	path = projects/Nabbar-Nav
	url = https://github.com/regexpressyourself/Nabbar-Nav.git
[submodule "projects/Iframer"]
	path = projects/Iframer
	url = https://github.com/regexpressyourself/Iframer.git
[submodule "projects/PracticeBuddy"]
	path = projects/PracticeBuddy
	url = https://github.com/regexpressyourself/PracticeBuddy.git
[submodule "projects/Turbo-Pup-Site"]
	path = projects/Turbo-Pup-Site
	url = https://github.com/regexpressyourself/Turbo-Pup-Site.git
